{% extends 'template.html' %}
{% block title %}Esqueci Minha Senha{% endblock %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            {% if success %}
                <p>Sua senha foi alterada com sucesso</p>
            {% else %}
                <h2>Informe uma nova Senha</h2>
                <form class="pure-form pure-form-stacked" action="" method="post">

                    {% csrf_token %}

                    <fieldset>
                        <!-- Erros não relacionados aos campos, como, por exemplo, senha inválida -->
                        {{ form.non_field_errors }}

                        {% for field in form %}

                            <div class="pure-control-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            </div>

                        {% endfor %}

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Salvar</button>
                        </div>
                    </fieldset>

                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}