{% extends 'courses/dashboard.html' %}

{% block title %}{{ block.super }} - Anúncios{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li>/</li>
    <li><a href="{% url 'courses:announcements' course.slug %}">Anúncios</a></li>
{% endblock %}


{% block dashboard_content %}
    {% for announcement in announcements %}
        <div class="well">
            <h2><a href="{% url 'courses:announcement' course.slug announcement.pk %}">{{ announcement.title }}</a></h2>
            {{ announcement.content|linebreaks }}
            <p>
                <a href="{% url 'courses:announcement' course.slug announcement.pk %}#comments" title="">
                    <i class="fa fa-comments-o"></i>
                    {% with announcement.comments.count as count %}
                        {{ count }} Comentário{{ count|pluralize }}
                    {% endwith %}
                </a>
            </p>
        </div>
    {% empty %}
        <div class="well">
            <h2>
                Nenhum anúncio criado.
            </h2>
        </div>
    {% endfor %}
{% endblock %}
